*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    /*background-color: aquamarine;*/
    display: flex;
   /* justify-content: space-between;*/
    padding:0px 90px;
    padding-top: 170px;
    align-items: flex-end;
    gap: 70px;
    
}
#left{
    height:fit-content;
    width: 100%;
    /*background-color: rgb(213, 213, 35);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
    
    
}
#right h1{
    font-weight: 600;
    /* font-size: 10px; */
    font-size: 2vw;
    color: crimson;
}


    
#left h1{
    font-size: 12vw;
    
    font-weight: 500;
    line-height: 18  vw;
    
}
#bottom-left{
   /* height: 40%;*/
    width: 100%;
   /* background-color: rgb(213, 220, 20);*/
}
#color{
    /*background-color: blue;*/
    width: fit-content;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
    padding-top: 10px;
    
}
#color1{
    background-color: burlywood;
    height: 12px;
    
    width: 12px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 3px;

}
#color2{
    background-color: brown;
    height: 12px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;

}
#color h2{
    font-size: 12px;
    margin-right: 12px;
    font-weight: 200;
}
#left h3{
    font-weight: 300;
    font-size: 2vw;
    margin-top: 50px;
}
#left p{
    /*font-size: 15px;*/
    font-size: 1.01vw;
    color: rgb(40, 38, 38);
    width: 60%;
    font-weight: 600;
    line-height: 1.6vw;
    padding: 10px;
    

}
#right{
    height: 90%;
    width: 33%;
   /* background-color: blue;*/
    position: relative;
    
}
#right-top{
    height: 40px;
    width: 100%;
   /* background-color: darkred;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
#right-top h4{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-weight: 600;
}
#right-top h5{
    font-size: 15px;

}
#right-top h5 i{
    color:gold ;
}
#right img{
    width: 100%;
    object-fit: cover;
    height: 95%;
}
#circle{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: rgb(32, 31, 33);
    display: flex;
    align-items: center;
    right: -20%;
    top: 25%;
    justify-content: center;
    position: absolute;

}
#circle h1{
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;
}
#rotate{
    position: absolute;
    rotate: -90deg;
    /*background-color: blue;*/
    bottom: 4%;
    left: -13%;
    transform-origin: 0 0;
    font-size: 35px;
    font-weight: 600;
}
@media  (max-width:600px){
#main{
    height: 100%;
    width: 100%;
    /*background-color: aquamarine;*/
    display: flex;
   /* justify-content: space-between;*/
    padding:40px;
    padding-top: 170px;
    align-items: flex-end;
    gap: 40px;
    justify-content: space-between;
    flex-direction: column;
}
    
} 